.button {
  text-decoration: none; 
  
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

.hover_zoom {
    height: 100%;
    width: 100%;
    background-color: white;
    border: none;
    transition: transform 0.1s;
}
.hover_zoom:hover {
    aspect-ratio: 1;
    transform: scale(110%); 
}

.drawB {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 15%;
}

.border-button {
  cursor: pointer;
  overflow: hidden;
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  width: 4em;
  height: 4em;
}
.border-button::before, .border-button::after {
  border-radius: 15%;
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border-radius: 15%;
  border: 5px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #0eb7da;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #f23243;
  border-right-color: #f23243;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #f23243;
  border-left-color: #f23243;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/* Button 1 */
.button-margin {
  margin: 20px;
}

.button-1 {
  width: 200px; 
  padding: 15px 0;
  text-align: center;
  /* margin: 20px; */
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent; 
  color: #fff;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.button-index {
  width: 200px; 
  padding: 15px 0;
  text-align: center;
  /* margin: 20px; */
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent; 
  color: #fff;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.span-1{
  background: #009688;
  height: 100%; 
  width: 0; 
  border-radius: 25px; 
  position: absolute; 
  left: 0;
  bottom: 0; 
  z-index: -1;
  transition: 0.5s; 
  z-index: -1;  
}
.sign-up-btn {
  max-width: 150px;
}

.button:hover span{
  width: 100%;
} 

.push{
  bottom: 0;
}
/* Button 1 */

/* Button 2 */
.button-1-auto {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;

  width: auto; 
  padding: 15px 25px;
  text-align: center;
  /* margin: 20px; */
  border-radius: 25px;
  font-size: large;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent; 
  color: #fff;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 
}
/* Button 2 */

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}