:root {
    --cool-index-card-height: 500px;
    --hobby-card-width: 480px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}
@media (max-width: 550px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        overflow-x: hidden;
    }
}

/* Gradient Background */
body {	
	background-color: #131316;
	background-size: 100%;
	background-repeat: no-repeat;
    overflow-x: hidden;
    right: 0;
}
/* Gradient Background */

.index-title-body-button {
    display: grid;
    width: 100%;
    height: 70%;
    grid-auto-rows: 20% 60% 20%;
}

@media (max-width: 1100px) {
    .index-title-body-button {
            display: flex;
            flex-direction: column;
            row-gap: 1.5em;
            height: auto;
    }
}

.main-hobby-cards-container {
    /* Container for the three cards */
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    justify-content: center;
}

.index-title-body {
    width: var(--hobby-card-width);
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: auto;
}

.hobby-title {
    color: white;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

.hobby-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobby-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: var(--hobby-card-width);
    height: var(--hobby-card-width);
}

.PlaceInCenter{
    display: grid;
    place-items: center;    
    box-sizing: border-box;
    justify-content: right;
}

.BannerTitle{ 
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: bolder;

    position: absolute;
    top: calc(50% - 4vh);
    box-sizing: content-box;
    background-color: white;

    width: 100%;
    height: 1.5em;

    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.banner-words{
    display: flex;
    justify-content: center;
}
.words{
    overflow: hidden;
}
.revolveWords{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: blue;
    animation: spin_words 12s infinite; 
    animation-delay: 0.6s;
}
@keyframes spin_words{
    5%{
        transform: translateY(-108%);
    }
    12.5% {
        transform: translateY(-100%);
    }
    17.5%{
        transform: translateY(-208%);
    }
    25%{
        transform: translateY(-200%);
    }
    30%{
        transform: translateY(-308%);
    }
    37.5%{
        transform: translateY(-300%);
    }
    42.5%{
        transform: translateY(-408%);
    }
    50% {
        transform: translateY(-400%);
    }
    55%{
        transform: translateY(-508%);
    }
    62.5% {
        transform: translateY(-500%);
    }
    67.5%{
        transform: translateY(-608%);
    }
    75%{
        transform: translateY(-600%);
    }
    80%{
        transform: translateY(-708%);
    }
    87.5%{
        transform: translateY(-700%);
    }
    92.5%{
        transform: translateY(-808%);
    }
    100% {
        transform: translateY(-800%);
    }
}

@media (max-width: 750px) {
    .BannerTitle{ 
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: bold;
    
        position: absolute;
        box-sizing: content-box;
        background-color: white;
    
        width: 96%;
        height: 15vh;
    
        
        padding: 20px 10px;
        display: flex;
        align-items: center;
    }
    .banner-words{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .words{
        margin: 20px 0;
        height: 50px;
        overflow: hidden;
    }
    .revolveWords{
        display: block;
        height: 100%;
        padding: 0;
        color: blue;
        animation: spin_words 12s infinite; 
    }
}

/* slideshow stuff*/
.slideshow_images {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;    
  overflow: hidden;
  right: 100;
}
.slideshow_images::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100vw;
  height: 100%;

  background-color: rgba(119, 103, 115, 0.2);
}

.slideshow_img{
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 100% );
  background-image: url(../../images/MotherboardCircuitWallpaper.jpeg );
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  
  animation: opaqTransition 50s cubic-bezier(0, 0, 0, 1) infinite;
}
.slideshow_img.image_two {
  background-image: url( ../../images/atomWallpaper.jpg);
  animation-delay: 10s;
}
.slideshow_img.image_three {
  background-image: url( ../../images/GuitarWallpaper.jpeg );
  animation-delay: 20s;
}
.slideshow_img.image_four {
  background-image: url( ../../images/SpaceWallpaper.jpeg );
  animation-delay: 30s;
}
.slideshow_img.image_five {
  background-image: url( ../../images/ClockEscapementWallpaper.jpg );
  animation-delay: 40s;
}
@keyframes opaqTransition {
    3% { transform: translateX( 0 ); }
    25% { transform: translateX( 0 ); }
    28% { transform: translateX( -100% ); }
    100% { transform: translateX( -100% ); }
}
  


/* The information part of the homepage */ 
.title {
    position: relative; 
    /* background-color: black; */
    padding: 20px 0;
}

.title-text {
    font-size: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
}

.title-text-v2 {
    font-size: 50px;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
    padding: 30px 0;
}

.text-break{
    content: '';
    height: 3px;
    width: 100%;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px
}

.index-break {
    position: relative; 
    height: 12em;
    width: 100%;
}

.cool-index {
    width: 1200px;
    height: 800px;
}

.cool-index-cards {
    width: var(--cool-index-card-height);; 
    height: var(--cool-index-card-height);; 
    display: flex;
    flex-direction: column;
    position: absolute;

    justify-content: center;
    align-self: center;
    text-align: center;
}

.cool-index-title {
    color: white;
    font-size: 3em;
    font-weight: 800;
}

.cool-index-detail {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.cool-index-detail-text {
    width: 90%;
    font-size: 1.8em;
    font-weight: 500;
    padding-bottom: 0.7em;
}

.cool-card-1 {
    bottom: 0;
    right: 0;
}
.cool-card-1:hover {
    z-index: 10;
}

.cool-card-2 {
    top: calc(50% - var(--cool-index-card-height)/2);
    left: calc(50% - var(--cool-index-card-height)/2); 
}
.cool-card-2:hover {
    z-index: 10;
}

.cool-card-3 {
    top: 0;
    left: 0;
}
.cool-card-3:hover {
    z-index: 10;
}

/* detail_cards that have additional styling on its texts/images/buttons */
.detail_card_v2 h1{
    margin-bottom: 25px;
}
.detail_card_v3.center_v1.image.is-visible {
    height: 10000px;
}

@media (max-width: 1600px) {
    :root {
        --cool-index-card-height: 440px;
        --hobby-card-width: 400px;
    }
    .cool-index-cards {
        width: var(--cool-index-card-height);
        height: var(--cool-index-card-height);
    }
    .cool-index {
        width: 1000px;
        height: 680px;
    }

    .hobby-title {
        font-size: 2.5em;
    }
    
}
@media (max-width: 1450px) {
    :root {
        --hobby-card-width: 320px;
    }
}
@media (max-width: 1050px) {
    :root {
        --hobby-card-width: 500px;
    }
    .cool-index-cards {
        position: relative;
        width: var(--cool-index-card-height);
        height: var(--cool-index-card-height);
    }
    .cool-card-1, .cool-card-2, .cool-card-3 {
        padding: 1em;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .cool-index {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2.5em;

        justify-content: center;
        align-items: center;
    }

    .main-hobby-cards-container {
        /* Container for the three cards */
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    :root {
        --cool-index-card-height: 350px;
        --hobby-card-width: 350px;
    }
    .detail_card_v2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(3, 33.34%);
        padding-top: 20px;
        padding-bottom: 25px;
    }

    .index-break {
        position: relative; 
        height: 8em;
        width: 100%;
    }
}