/* Anything with a class of "text" will refer back to this css */
.card-title {
    position: relative;
    top: calc(100% - 1em);
    font-size: 4em;
    padding: 0px;
}

.card-body {
    font-size: 2.5em;
    padding: 0px;
}

.project-title {
    font-size: 2.5em;
    text-transform: uppercase;
}

.text_v1 {
    box-sizing: border-box;
    position: relative; 
    background: white;
    padding: 40px;
    line-height: 1.7; 
    border-radius: 20px;
    margin: 20px auto;
}

.text_v2 {
    color: white; 
    font-size: 3vh;

    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.medium-text-font {
    font-size: 2.2em;
}

.large-text-font{
    font-size: 8vh;
}

.medium-text-padding {
    padding: 0 3vw 1vh 3vw;
}

.y-axis-padding{
    padding: 3vh 0;
}

.text_word_wrap {
    word-wrap: break-word;
}

.text-align-left {
    text-align: left;
}

@media (max-width: 1150px) {
    .medium-text-font {
        font-size: 1.7em;
    }

    .card-title {
        position: relative;
        top: calc(100% - 1em);
        font-size: 3.6em;
    }

    .card-body {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    /* .medium-text-font {
        font-size: 1.7em;
    } */

    .card-title {
        position: relative;
        top: calc(100% - 1em);
        font-size: 3em;
        padding: 0px 10px;
    }

    .card-body {
        font-size: 1.8em;
        padding: 0px 10px;
    }
}